body{
  text-align: center;
  font-family: Helvetica;
}
h1{
  background-image: url("C:\Users\Cameron Castillo\Documents\projects\Broadway\resources\images\the-flatiron-building-png");
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.links{
  font-size: 18px;
  text-decoration: underline;
  color: white;
}
footer{
  text-align: left; !important
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
